<ul>
  <% @files.each do |file| %> 
    <li>
      <a href="/<%= file %>"><%= file %></a>
      <a href="/<%= file %>/edit">Edit</a>
      <form class="inline" action="/<%= file %>/delete" method="post">
        <button type="submit">Delete</button>
      </form>
    </li>
  <% end %>
</ul>

<p><a href="/new">New Document</a></p>

<% if session[:username] %>
    <form class="inline" action="/signout" method="post">
      <p>Signed in as <%= session[:username] %>.</p>
      <button type="submit">Sign Out</button>
    </form>  
<% else %>
  <a href="/signin">Sign In</a>
<% end %>